<h3>Welcome to ELearn</h3>
	<p>
	Lorem ipsum dolor sit amet, consectetuer <em>adipiscing elit</em>, sed diam nonummy nibh euismod 
	tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
	</p>
	<a class="button" href="/users/signup">Sign Up Free</a>
	<p>You need to signup to register for free classes</p>